In [25]:
import pandas as pd
import pickle
file_path = 'encoded_brand_dict.pkl'
# Load the dictionary from the file
with open(file_path, 'rb') as file:
    encoded_brand_dict = pickle.load(file)
print(encoded_brand_dict)

{'MSI': 23, 'Dell': 11, 'Asus': 4, 'Lenovo': 21, 'Core Innovations': 9, 'Acer': 1, 'LG': 20, 'HP': 16, 'Samsung': 31, 'GIGABYTE': 12, 'Apple': 3, 'Panasonic': 27, 'XAMMUE': 37, 'Microsoft': 25, 'ROKC': 28, 'Best Notebooks': 8, 'SGIN': 30, 'Best Notebook': 7, 'Goldengulf': 15, 'HUNSN': 17, 'Razer': 29, 'Gateway': 14, 'Toshiba': 35, 'Luqeeg': 22, 'ONN': 26, 'Mavark': 24, 'Yoga Notebook': 38, 'WEELIAO': 36, 'Adata': 2, 'thunderb': 40, 'Best 2 in 1 Laptop': 6, 'IVIEW': 19, 'IST Computers': 18, 'BINTEC': 5, 'Corsair': 10, 'Thomson': 33, 'GPDBRANDSTORE': 13, 'aichiw': 39, 'TechDeal': 32, 'Tocosy': 34, 'AWOW': 0}

In [26]:
data=pd.read_csv('new.csv')
data.drop(columns=['Unnamed: 0','CPU Name','GPU Name','OS','Storage Type'],axis=1,inplace=True)
data

,Brand,CPU Mark,GPU Mark,Monitor,Width,Height,RAM,Storage Amount,Weight,Price
0,MSI,26454.0,7320.0,15.6,1920.0,1080.0,16384.0,2097152.0,3.03,1529.00
1,Dell,19333.0,1449.0,16.0,1920.0,1200.0,24576.0,1048576.0,2.47,1079.00
2,Asus,55651.0,26876.0,17.3,2560.0,1400.0,16384.0,1048576.0,2.68,1959.99
3,HP,16980.0,2690.0,15.6,1920.0,1080.0,8192.0,262144.0,3.52,660.00
4,MSI,44905.0,17984.0,16.0,2560.0,1600.0,16384.0,8796093.0,5.24,2323.00
5,Acer,3855.0,806.0,14.0,1366.0,768.0,8192.0,131072.0,4.19,279.99

In [27]:
data['Encoded_Brand'] = data['Brand'].apply(lambda x: encoded_brand_dict.get(x) if x in encoded_brand_dict else None)
data.drop(columns=['Brand'],axis=1,inplace=True)
data

,CPU Mark,GPU Mark,Monitor,Width,Height,RAM,Storage Amount,Weight,Price,Encoded_Brand
0,26454.0,7320.0,15.6,1920.0,1080.0,16384.0,2097152.0,3.03,1529.00,23
1,19333.0,1449.0,16.0,1920.0,1200.0,24576.0,1048576.0,2.47,1079.00,11
2,55651.0,26876.0,17.3,2560.0,1400.0,16384.0,1048576.0,2.68,1959.99,4
3,16980.0,2690.0,15.6,1920.0,1080.0,8192.0,262144.0,3.52,660.00,16
4,44905.0,17984.0,16.0,2560.0,1600.0,16384.0,8796093.0,5.24,2323.00,23
5,3855.0,806.0,14.0,1366.0,768.0,8192.0,131072.0,4.19,279.99,1

In [28]:
data.to_csv('new_preprocess.csv')